NEXT_PUBLIC_APP_URL=https://kamerafehervar.hu
NEXT_PUBLIC_SITE_URL=https://kamerafehervar.hu
NEXT_PUBLIC_PHONE=+36 70 273 5532
NEXT_PUBLIC_GA_ID=
SIROTECH_ADMIN_EMAIL=
SMTP_HOST=smtp.forpsi.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
